* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
figure {
	width: 100%;
	height: 100vh;
	background: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: none;

	h1 {
		font: 10vw/1 'arial';
		color: #fff;
	}
}
.cursor {
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	transform: translate(-50%, -50%);
	pointer-events: none;
	mix-blend-mode: difference;
	transition: transform 0.3s;
}
